{deps, [
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git"}},
  {sync, ".*", {git, "https://github.com/rustyio/sync.git"}},
  {simple_env, ".*", {git, "https://github.com/CamShaft/simple_env.git"}},
  {fast_key, ".*", {git, "https://github.com/CamShaft/fast_key.git"}},
  {uuid, ".*", {git, "https://github.com/travis/erlang-uuid.git"}}
]}.
